.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  background: #465d7e;
  color: white;
  width: 100%;
  z-index: 1000;

  .p-click {
    cursor: pointer;
    &:hover {
      color: wheat;
    }
  }
}
