.header-element {
  height: 50px;
  width: 100%;
  background: #465d7e;
  color: #eee;
  border-bottom: 2px #888888 solid;

  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  label {
    padding-top: 5px;

  }
}


