#header-element
 .header-element
    .right.p-click
      label PBOX Missions App
    .left.p-click((click)="logout()")
      label.pl-1(*ngIf="isAuthenticated") Hi {{ name }},
      label.pl-1(*ngIf="isAuthenticated" ) Click To Logout
