
.red-btn {
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;

  &:hover {
    background-color:#eb675e;
  }
  &:active {
    position:relative;
    top:1px;
  }

}

.orange-btn {
  box-shadow:inset 0px 39px 0px -24px #e4a11d;
  background-color: #e47e1e;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #d5961b;

  &:hover {
    background-color: #f7ae1f;
  }
  &:active {
    position:relative;
    top:1px;
  }

}

.sign-in {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;

  &:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.g-btn {
  #customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }

  #customBtn:hover {
    cursor: pointer;
  }

  span.label {
    font-family: serif;
    font-weight: normal;
  }

  span.icon {
    background: url('/assets/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }

  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
}


.vendor-btn {
  width: 100%;
  line-height: 40px;
  color: #fff;
  border-radius: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;

  &.f-btn {
    background-color: #0072cf;
  }

  &.g-btn {
    background-color: #d64a37;
  }

  &.m-btn {
    background-color: #046ba1;
  }
}
