ngx-spinner( bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple")
  p(style="font-size: 20px; color: white") Loading...
.login-container(*ngIf="missionFormShow")
  .card.shadow-grey
    .card-header
      .row.d-flex.justify-content-between
        div.m
          h5.ml-1 {{ currentAction }} mission
        div.mr-2.p-click
          label.p-click((click)="toggleMissionForm(false)") Close&nbsp;
            i.fas.fa-minus

    .card-body
      .card-title
        form([formGroup]="form")
          .row
            .col-sm-12.col-md-4.mt-3.form-group
              label Key
              .d-block
                input.form-control(formControlName="key", type='text', placeholder="Key", [ngClass]="{ 'is-invalid': submitted && f.key.errors }")
              label.invalid-feedback.d-block(*ngIf="!!f.key.errors && submitted && f.key.errors.required") Key is required!
          .row
            .col-sm-12.col-md-8.mt-3.form-group
              label Value (Must be a valid JSON)
              .d-block
                textarea.form-control(formControlName="value", type='text', placeholder="E.g paybox", [ngClass]="{ 'is-invalid': submitted && f.key.errors }")
              label.invalid-feedback.d-block(*ngIf="!!f.key.errors && submitted && f.key.errors.required") Value is required!
            .col-sm-12.col-md-4
              .text-center
                pre Value is {{ checkJson ? 'Valid' : 'Invalid' }}
          .row
            .col-12
              button.btn.btn-primary.form-btn([type]="!this.checkJson && !f.key.errors ? '' : 'submit'", [disabled]="!this.checkJson && !f.key.errors", (click)="currentAction === 'Create' ? addMission() : editMission()") Submit

.login-container()
  .card.shadow-grey
    .card-header
      .row.d-flex.justify-content-between
        div.m
          h5.ml-1 Missions
        div.mr-2.p-click
          label.p-click((click)="action('Create')") Add mission&nbsp;
            i.fas.fa-plus
    .card-body
      .card-title
      .mb-3.d-flex.justify-content-between
        div
          ngb-pagination([(page)]="paginate.page", [pageSize]="paginate.limit", [collectionSize]="count", (pageChange)="getList()")
        div
          label Total - {{ count }}
        div.d-flex.justify-content-between
          label(style="width:140px") Per Page:
          select.form-control([(ngModel)]="paginate.limit", (ngModelChange)="getList()")
            option([value]="5") 5
            option([value]="10") 10
            option([value]="20") 20
            option([value]="50") 50
            option([value]="100") 100
      table.table-striped.w-100()
        thead
          tr
            th(scope="col") Key
            th(scope="col") Value (JSON)
            th(scope="col", style="width:100px") Actions
        tbody(*ngIf="list.length == 0")
          tr
            td(colspan="3")
              p.m-auto.text-center No records found...
        tbody()
          tr(*ngFor="let r of list")
            td.small-pad
              label {{ r.key }}
            td.small-pad
              label {{ r.value | json }}
            td.small-pad
              label((click)="action('Update', r)")
                i.fas.fa-edit.m-1.p-click(placement="right", ngbTooltip="Edit mission")
              label((click)="action('Delete', r)")
                i.fas.fa-trash.m-1.p-click(placement="right", ngbTooltip="Delete mission")
              label
                i.far.fa-arrow-alt-circle-up.m-1.p-click(placement="right", ngbTooltip="Open mission in a modal")
      .mt-3.d-flex.justify-content-between
        div
          ngb-pagination([(page)]="paginate.page", [pageSize]="paginate.limit", [collectionSize]="count", (pageChange)="getList()")
        div
          label Total - {{ count }}
        div.d-flex.justify-content-between
          label(style="width:140px") Per Page:
          select.form-control([(ngModel)]="paginate.limit", (ngModelChange)="getList()")
            option([value]="5") 5
            option([value]="10") 10
            option([value]="20") 20
            option([value]="50") 50
            option([value]="100") 100
