.login-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media only screen and (max-width: 767px) {
    //width: 90vw;
  }

  .card {
    margin: 1rem;
    .card-body {
      padding: 25px;
    }
  }
}

.p-click {
  cursor: pointer;
  &:hover {
    color: darkred;
  }
}

.small-pad {
  padding: 10px;
}
