/* You can add global styles to this file, and also import other style files */

@import "styles/buttons";
@import "styles/colors";

// Toastr
@import '~ngx-toastr/toastr';
//@import '~ngx-toastr/toastr-bs4-alert';

.box {
  height: 10rem;
  width: 20rem;
  //border: 1px solid #56799b;
}

.link {
  cursor: pointer;

  &:hover {
    color: red !important;
  }
}

.gap-t25 {
  margin-top: 20vh
}

body {
  background-color: #fbfbfb;
}

.p-click {
  * {
    cursor: pointer;
  }
}
