.login-container.gap-t25
    .card.shadow-grey
      .card-header
        h5 Login Panel
      .card-body
        .card-title
          label Create or login using your social account
        .card-text

          form([formGroup]="form", (ngSubmit)="submit()")
            .col-12.mt-3.form-group
              .d-block
                input.form-control(formControlName="username", type='text', placeholder="E.g paybox", [ngClass]="{ 'is-invalid': submitted && f.username.errors }")
              label.invalid-feedback.d-block(*ngIf="!!f.username.errors && submitted && f.username.errors.required") Email is required!

            .col-12.mt-3.form-group
              .d-block
                input.form-control(formControlName="password", type='password', placeholder="Password", [ngClass]="{ 'is-invalid': submitted && f.password.errors }")
              label.invalid-feedback.d-block(*ngIf="!!f.password.errors && submitted && f.password.errors.required") Password is required!

            .col-12.mt-3.mb-3
              button.btn.btn-primary.form-btn(type="submit") Sign-In

