.login-container {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  @media only screen and (max-width: 767px) {
    width: 90vw;
  }

  .card {
    .card-body {
      padding: 25px;
    }
  }
}

.flex-col {
  flex-direction: column;
}

.flex-col-mob {
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}


.form-btn {
  width: 25%;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.shadow-grey {
  box-shadow: 0px 0px 10px #e1e1e1
}
